.env
.vscode/launch.json
**.py[cod]
__pycache__/
.idea
.DS_Store
src/data/onderzoeksmodules/*
src/data/bedrijfsoverzicht.json
src/data/bedrijfsoverzicht_archive.json
src/data/tests
src/data/onderzoeksmodules_archive*
src/data/bedrijfsoverzicht.json
